@import 'bulma'; 

// *** Basic styling for layout *** 
.container{
	width: 800px;
	margin: 25px auto;
	font-size: 2em; 
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a{
	font-size: .65em;
	margin: 10px 20px;
}
#nav-emphasis{
	border: 2px solid lighten(gray, 25%);
	border-radius: 5px;
}
#bucket{
	height: 45px;
}
#logout{
	text-decoration: underline;
}
// *** Basic styling for nested content *** 
.content{
	background-color: white;
	border-radius: 30px;
	width: 800px;
	margin: 25px auto;
	padding: 20px 10px;
	display: flex;
	flex-direction: row;
}
.panel-left{
	width: 400px;
	padding: 25px;
}
.panel-right{
	width: 400px;
	padding: 25px;
}
// *** Home ***
.home{
	flex-direction: column;
	align-items: center;
}
// *** Detail styling ***
button{
	border-radius: 5px;
}
// *** User Goals ***
.goals{
	ul{
		margin: 5px;
		a{
			font-size: 1em;
		}
	}
}
.goal{
	list-style: none;
	border: 1px solid lighten(gray, 20%);
	border-radius: 5px;
	width: 100%;
	font-size: 0.5em;
}
#flex-card{
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
}
#img-card{
	max-width: 75px;
	max-height: 75px;
}
// *** Detail ***
.single{
	border: 1px solid red;
	i{
		font-size: 2em;
	}
	a{
		text-decoration: none;
	}
}
// *** Home Gallery ***
.gallery{
	width: 100%;
	// border: 2px solid blue;
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: space-around;
	align-items: flex-end;
}
.child{
	// border: 2px solid yellow;
	margin: 25px 25px;
	height: 200px;
	width: 200px;
}