@import 'bulma'; 
* {
	padding: 0px;
	margin: 0px;
}
// *** Layout *** 
.container{
	width: 800px;
	margin: 15px auto;
	font-size: 2em; 
}
nav{
	display: flex;
	flex-direction: row; 
	justify-content: space-between; 
}
a{
	font-size: .65em;
	margin: 10px 20px;
}
#bucket{
	height: 45px;
}
#logout{
	text-decoration: underline;
}
// *** Nested content *** 
.contents{
	background-color: white;
	border-radius: 30px;
	width: 800px;
	margin: 25px auto;
	padding: 20px 10px;
	display: flex;
	flex-direction: row;
}
button{
	border-radius: 5px;
}
// *** Home ***
.home{
	flex-direction: column;
	align-items: center;
}
// *** My Goals ***
.goals{
	ul{
		margin: 5px;
		li{
			list-style: none;
		}
	}
}
#goal-card{
	width: 100%;
}
// *** Goal Detail ***
.panel-left{
	// border: 2px solid pink;
	width: 400px;
	padding: 25px;
}
.panel-right{
	// border: 1px solid orange;
	width: 300px;
	padding: 25px;
	// margin: 15px; 
}
#panel-right-goal{
	display: flex;
	flex-direction: column; 
	width: 300px;
}
#goal-left-panel{
	padding: 10px;
	width: 450px;
}
.goal-image-spec{
	height: 225px;
	width: 225px; 
	border-radius: 5px;
}
#icon-text-button{ 
	margin-left: 10px;
}
.text-fill-goal{  
  display: inline-block;
  width: 380px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
// *** Home Gallery ***
.gallery{
	width: 100%;
	display: flex; 
	margin-top: 30px;
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: space-around;
	align-items: flex-end;
}
.child{
	border: none; 
	margin: 0 20px 20px 20px;
	width: 145px;
	height: 145px;
	img{
		border-radius: 50%;
		height: 140px;
		width: 140px;
	} 
}
// *** Accomplishments ***
.is-200x200{
	width: 150px;
	height: 150px;
}
.box{
	width: 600px;
	margin: 25px auto;
}
.style-header-accomplish{
	font-weight: bold; 
	display: inline-block;
	margin: 0px 114px;
}
#accomplish-see-more{
	margin: 0px;
}
#accomplish-title-card{
	margin-left: 20px;
}
// *** Accomplish Detail ***
.accomplish-text-fill{
  display: inline-block;
  width: 300px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
