<div class="content single">
	<a href="#/accomplishments"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
		
	<div class="panel-left">
		
		</br>
		<h7>{{ accomplishDetail.group.title }}</h7>
		</br>
		<h7>{{ accomplishDetail.group.description }}</h7>
		
	</div>
	<div class="panel-right">
		<img ng-src='{{ accomplishDetail.group.url }}'/>
		<button ng-click="accomplishDetail.deleteGoal()">Delete</button>
		<button ng-click="accomplishDetail.completeGoal()" ng-show="!goalDetail.isComplete">Completed Goal</button>
	</div>
</div>		