<div class="container">
	<h1 class="style-header-accomplish">
		My Accomplishments
	</h1>
</div>

<div>
	<ul>
		<li ng-repeat="goal in accomplish.goals">
			<div class="box">	
				<article class="media">
					<div class="media-left">
						<figure class="image is-200x200">
							<img ng-src='{{ goal.url }}'/>
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>{{ goal.title }}</strong>
								<br>
							 	<small>{{ goal.description }}</small>
							</p>
							
						</div>
						
						<nav class="level">
							<div class="level-left">
								<a href="#/accomplishDetail/{{ goal.id }}">
								See more
								</a>
							</div>
						</nav>

					</div>
				</article>
			</div>
		</li>
	</ul>
</div>