<div class="contents single">
	<a href="#/user/{{ goal.userId }}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
		
	<div class="panel-left">
		
		</br>
		<h7>{{ goalDetail.group.title }}</h7>
		</br>
		<h7>{{ goalDetail.group.description }}</h7>
		
	</div>
	<div class="panel-right">
		<img ng-src='{{ goalDetail.group.url }}'/>
		<button ng-click="goalDetail.deleteGoal()">Delete</button>
		<button ng-click="goalDetail.completeGoal()" ng-show="!goalDetail.isComplete">Completed Goal</button>
	</div>
</div>		