<nav>
	<div>
		<span>
			<a href='#/'>
				<!-- <img id="bucket" src="https://d30y9cdsu7xlg0.cloudfront.net/png/394460-200.png"> -->
				<img id="bucket" src="https://d30y9cdsu7xlg0.cloudfront.net/png/7891-200.png">
			</a>
		</span>
	</div>
	<div><span><a href='#/user/{{ goal.userId }}'>My Goals</a></span></div>
	<div><span><a href='#/accomplishments'>My Accomplishments</a></span></div>
	<div id="nav-emphasis"><span><a href='#/register'>Register</a></span></div>
	<div id="nav-emphasis"><span><a href='#/login'>Sign In</a></span></div>
	<div id="logout"><span><a href="#/" ng-click="layout.logout()">Log Out</a></span></div>
</nav>


<div ui-view></div>