<div class="contents">
	<div class="panel-left">
		<h1>Sign in</h1>
	</div>
	
	<div class="panel-right">
		<form ng-submit="login.login(user)">

			<label class="label">Username</label>
			<p class="control has-icon has-icon-right">
			  <input class="input is-success" type="text" placeholder="ex. TigerLily" ng-model="user.username">
			  <i class="fa fa-check"></i>
			  <span class="help is-success"></span>
			</p>

			<label class="label">Password</label>
			<p class="control">
			  <input class="input" type="password" placeholder="Password" ng-model="user.password">
			</p>

			<button>Submit</button>
		</form>
	</div>
</div>